section{
    background-color: #88c1d0;
    width: 400px;
    height: 100px;
    margin: 1%;
}
@media screen and (min-width: 1600px){
    body{
        display: flex;
        padding: 1%;
}
}

@media screen and (max-width: 1599px) and (min-width: 768px){
    body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1%;
        height: 100%;
        justify-items: center;
    }
    section{
        margin: 15% 1%;
    }
}

@media screen and (max-width: 768px){
    body{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
}
    section{
        margin: 10% 1%;
    }
}